.multiline-row {
    margin-top: 12px;
}

#faction-list {
    padding-left: 0;
}

#faction-list li { 
    display: inline;
    padding-left: 0;
}

.faction-img { 
    width: 60px;
}

#faction-list a:active,
#faction-list a:hover {
    text-decoration: none;
}


.d3-histogram text { 
    font-family: sans-serif;
}

.d3-histogram .bar { 
    fill: teal;
}

.d3-histogram .bar-negative {
    fill: orange;
}

.d3-histogram .bar-label { 
    font-size: 16x;
    text-anchor: middle;
}

.d3-histogram .axis { 
    font-size: 11px;
}

.d3-histogram .axis path,
.d3-histogram .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.d3-heatmap .row:hover {
    outline: thin solid black;
}

.d3-heatmap .cell-text {
    text-anchor: middle;
    alignment-baseline: middle;
}

.d3-heatmap .strong-positive {
    fill: #5D6BCC;
}

.d3-heatmap .weak-positive {
    fill: #B3BDFF;
}

.d3-heatmap .neutral {
    fill: #FFFFFF;
}

.d3-heatmap .weak-negative {
    fill: #FFBFA3;
}

.d3-heatmap .strong-negative {
    fill: #FF8450;
}

.d3-heatmap .yellow {
    stroke: yellow;
    stroke-width: 3;
}

.d3-heatmap .red {
    stroke: red;
    stroke-width: 5;
}

.d3-heatmap .gray {
    stroke: gray;
    stroke-width: 5;
}

.d3-heatmap .blue {
    stroke: blue;
    stroke-width: 5;
}

.d3-heatmap .black {
    stroke: black;
    stroke-width: 5;
}

.d3-heatmap .brown {
    stroke: brown;
    stroke-width: 5;
}

.d3-heatmap .green {
    stroke: green;
    stroke-width: 5;
}

.d3-heatmap .row-header {
    alignment-baseline: middle;
}

.d3-heatmap .column-header {
    alignment-baseline: middle;
    text-anchor: start;
}
