.multiline-row {
    margin-top: 12px;
}

#faction-list {
    padding-left: 0;
}

#faction-list li { 
    display: inline;
    padding-left: 0;
}

.faction-img { 
    width: 60px;
}

#faction-list a:active,
#faction-list a:hover {
    text-decoration: none;
}


.d3-histogram text { 
    font-family: sans-serif;
}

.d3-histogram .bar { 
    fill: teal;
}

.d3-histogram .bar-negative {
    fill: orange;
}

.d3-histogram .bar-label { 
    font-size: 16x;
    text-anchor: middle;
}

.d3-histogram .axis { 
    font-size: 11px;
}

.d3-histogram .axis path,
.d3-histogram .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

