.multiline-row {
    margin-top: 12px;
}

#faction-list li { 
    display: inline;
}

.faction-img { 
    width: 50px;
}

#faction-list a:active,
#faction-list a:hover {
    text-decoration: none;
}


svg text { 
    font-family: sans-serif;
}

svg .bar { 
    fill: teal;
}

svg .bar-negative {
    fill: orange;
}

svg .bar-label { 
    font-size: 16x;
    text-anchor: middle;
}

svg .axis { 
    font-size: 11px;
}

svg .axis path,
svg .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

