/* app css stylesheet */
.spacer { 
    height: 50px;
}

.navbar-green { 
    background: DarkGreen;
}

.navbar-green .navbar-toggle {
    /*border-color: Green;*/
}

.navbar-green .navbar-toggle .icon-bar {
    background: white;
}

.navbar-green a { 
    color: White;
}

.navbar-green li:hover a,
.navbar-green li a:focus {
    background: Green;
}

