/* app css stylesheet */
.spacer { 
    height: 50px;
}

.navbar-green { 
    background: DarkGreen;
}

.navbar-green a { 
    color: White;
}

.navbar-green li:hover a,
.navbar-green li a:focus {
    background: Green;
}





svg text { 
    font-family: sans-serif;
}

svg .bar {
    fill: teal;
}

svg .negative-bar { 
    fill: orange;
}

svg .bar-label { 
    font-size: 14px;
    text-anchor: middle;
}

svg .axis { 
    font-size: 11px;
}

svg .axis path,
svg .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/*svg .tick text { 
    transform: translate(0, 30) rotate(45deg);
}
*/
