tfoot { 
    font-weight: bold;
}

.d3-scoregraph text { 
    font-family: sans-serif;
}

.d3-scoregraph .bar-label { 
    font-size: 14px;
    alignment-baseline: middle;
    text-overflow: clip;
    overflow: hidden;
    display: block;
    position: relative;
}

.d3-scoregraph .bar-label-inverse { 
    font-size: 14px;
    alignment-baseline: middle;
    text-overflow: clip;
    overflow: hidden;
    /* from snellman */
    position: relative;
    fill: white;
}

.d3-scoregraph .axis { 
    font-size: 11px;
}

.d3-scoregraph .axis path,
.d3-scoregraph .axis line { 
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* colors below are borrowed from snellman */
/*var bgcolors = {
    red: '#f08080',
    green: '#80f080',
    yellow: '#f0f080',
    blue: '#60c0f0',
    black: '#404040',
    white: '#ffffff',
    gray: '#c0c0c0',
    brown: '#b08040',
    ice: '#e0f0ff',
    volcano: '#f0c060',
    player: '#404040'
};*/

.d3-scoregraph .bar-brown { 
    fill: #b08040;
}

.d3-scoregraph .bar-brown-negative {
    stroke: #b08040;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-gray {
    fill: #c0c0c0;
}

.d3-scoregraph .bar-gray-negative {
    stroke: #c0c0c0;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-red {
    fill: #f08080;
}

.d3-scoregraph .bar-red-negative {
    stroke: #f08080;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-blue {
    fill: #60c0f0;
}

.d3-scoregraph .bar-blue-negative {
    stroke: #60c0f0;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-green {
    fill: #80f080;
}

.d3-scoregraph .bar-green-negative {
    stroke: #80f080;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-yellow {
    fill: #f0f080;
}

.d3-scoregraph .bar-yellow-negative {
    stroke: #f0f080;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-black {
    fill: #404040;
}

.d3-scoregraph .bar-black-negative {
    stroke: #404040;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-ice {
    fill: #e0f0ff;
}

.d3-scoregraph .bar-ice-negative {
    stroke: #e0f0ff;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-volcano {
    fill: #f0c060;
}

.d3-scoregraph .bar-volcano-negative {
    stroke: #f0c060;
    stroke-width: 2;
    fill: white;
}

.d3-scoregraph .bar-variable {
    fill: moccasin;
}

.d3-scoregraph .bar-variable-negative {
    stroke: moccasin;
    stroke-width: 2;
    fill: white;
}