<div class="page-header">
    <h1>Analyze a Game of Terra Mystica</h1>
</div>

<!-- <div class="page-header">
    <div class="">

    </div>
</div>
 -->
<article ng-repeat="stats in gamestats.factions">
    <h3>{{pretty[stats.faction]}}</h3>

    <div class="row">
        <div class="col-sm-8">
            <d3-scoregraph height="300" width="600" data="stats.simple" dictionary="pretty">
            </d3-scoregraph>
        </div>
        
        <div class="col-sm-4">
            <table class="table">
                <tr>
                    <th>Source</th><th>Points Gained</th>
                </tr>
                <tr ng-repeat="(key, value) in stats.detailed">
                    <td>{{pretty[key] || key}}</td><td>{{value}}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
</article>