<div class="page-header">
    <h1>Analyze a Game of Terra Mystica</h1>

    <form id="load-game" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-8">
                <input ng-model="game" class="form-control" placeholder="game name (capitalization matters)"/>
            </div>
            <div class="col-xs-2">
                <input type="submit" class="form-control sm-col-2" ng-click="analyzeGame(game)"
                       value="Analyze Game">
            </div>
        </div>
        <div class="form-group">
            <span id="load-block-loading" class="hidden help-block">Loading...</span>
            <span id="load-block-error" class="hidden help-block">Game not found. Try checking your capitalization</span>
        </div>
    </form>
</div>


<article ng-repeat="stats in gamestats.factions | orderBy:'faction'">
    <h3>{{ pretty[stats.faction] }}</h3>

    <div class="row">
        <div class="col-sm-8">
            <d3-scoregraph height="300" data="stats.simple" dictionary="pretty">
            </d3-scoregraph>
        </div>
        
        <div class="col-sm-4">
            <table class="table">
                <tr>
                    <th>Source</th><th>Points Gained</th>
                </tr> 
                <tr ng-repeat="(key, value) in stats.detailed">
                    <td>{{ pretty[key] || key }}</td><td>{{ value }}</td>
                </tr> 
            </table>
        </div>
    </div>
    <hr/>
</article>