<div class="page-header">
    <h1>Analyze a Game of Terra Mystica</h1>

    <form id="load-game" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-8">
                <input ng-model="game" class="form-control" placeholder="game name (capitalization matters)"/>
            </div>
            <div class="col-xs-4">
                <input type="submit" class="form-control sm-col-2" ng-click="analyzeGame(game)"
                       value="Analyze">
            </div>
        </div>
        <div class="form-group">
            <span id="load-block-loading" class="help-block" ng-show="loading">Loading...</span>
            <div id="load-block-error" class="alert alert-danger" ng-show="loadError"><strong>Game not found!</strong> Try checking your capitalization</div>
        </div>
    </form>
</div>

<h3 ng-hide="loaded">Game Overview</h3>
<div ng-show="loaded">
    <div class="alert alert-warning" ng-Show="gameIncomplete">
        <strong>Game Incomplete!</strong> This game isn't complete yet. The numbers shown here will only reflect recorded points.
    </div>

    <h3 >Game Overview - 
        <a ng-href="http://terra.snellman.net/game/{{gamename}}" target="_blank">
            {{ gamename }}
        </a>
    </h3>
    <article>
        Placing
        <ol>
            <li ng-repeat="f in gamestats.factions">
                {{ format.labels(f.faction) }} ({{ f.total }}) - {{ f.name }}
            </li>
        </ol>
    </article>

    <article>
        Starting Order
        <ol>
            <li ng-repeat="f in gamestats.factions | orderBy: 'startOrder'">
                {{ format.labels(f.faction) }} - {{ f.name }}
            </li>
        </ol>
    </article>

    <article>
        Rounds
        <ol>
            <li ng-repeat="round in gamestats.rounds">
                {{ format.labels(round.scoreTile) }}
            </li>
        </ol>
    </article>
    <hr />
</div>

<h3>Faction Score Breakdowns</h3>
<article>
    <d3-scoregraph height="1000" data="gamestats.factions" labels="format.labels"
                   ordering="format.simpleOrdering">
    </d3-scoregraph>
</article>


<h3>Detailed Score Statistics</h3>
<article ng-show="loaded">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Source</th>
                <th ng-repeat="p in gamestats.factions">
                    {{ format.labels(p.faction) }} ({{ p.total }})
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>Total</td>
                <td ng-repeat="p in gamestats.factions">{{ p.total }}</td>
            <tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="(key, value) in format.detailedStats">
                <td> {{ format.labels(key) }}</td>
                <td ng-repeat="v in value track by $index">{{ v || 0 }}</td>
            </tr>
        </tbody>
    </table>
</article>
